* { 
    margin: 0; 
    padding: 0; 
}


.Montserrat_regular {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

.Montserrat_semi_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.Montserrat_bold {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

body{
    overflow-x: hidden;
}

.active a{
    color: #fbb03a !important;
}


/*section 1*/
.comcontainer{
    position: relative;
    width: 100%;
    height: auto;
}

.comtext1 {
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 3vw;
    color: white;
    top:50%;
    left: 32.5%;
}

/*instructor*/

.instructorintroheading1{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffb03a;
    left: 24%;
    top: 50%;
}

.instructorintroheading2{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffb03a;
    left: 28%;
    top: 50%;
}

.instructorintroheading3{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffb03a;
    left: 28%;
    top: 50%;
}

.instructorintroheading4{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffb03a;
    left: 28%;
    top: 50%;
}



.instructorintro{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 0.8vw;
    color: white;
    left: 18%;
    top: 50%;

}

.hovcon {
    position: relative;
}
.person {
    position: absolute;
    width: 23%;
    left: 14.5%;
    z-index: 1;
    transition: .5s ease;
}

.hovcon:hover .person{
    transform: translate(23%);

}

.ring {
    position: relative;
    width: 22%;
    left: 19%;
    z-index: 0;
    opacity: 1;
}

.hovcon:hover .ring{
    opacity: 0;

}


.instructorinfo {
    position: relative;
    width:73%;
    left: -3%;
    transition: .5s ease;
    opacity: 0;
    z-index: 0;
}

.hovcon:hover .instructorinfo{
    opacity: 1;
}

.ofilter {
    position: absolute;
    width:24%;
    left: 19.2%;
    top: -2%;
    opacity: 0%;
    z-index: 3;
}

.hovcon:hover .ofilter{
    opacity: 1;
}

.quote{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffb03a;
    left: 44%;
    top: 5%;
    z-index: 6;
    opacity: 0%;
}



.hovcon:hover .quote{
    opacity: 1;
}


.fact{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 0.9vw;
    color: black;
    left: 45%;
    top: 28%;
    z-index: 6;
    opacity: 0%;
}


.hovcon:hover .fact{
    opacity: 1;
}

.fact2{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 0.9vw;
    color: black;
    left: 45%;
    top: 38%;
    z-index: 6;
    opacity: 0%;
}

.hovcon:hover .fact2{
    opacity: 1;
}






/*next*/

.instructorintroheading20{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffb03a;
    left: 35%;
    top: 50%;
}



.instructorintro20{
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 0.8vw;
    color: white;
    left: 30%;
    top: 50%;

}



.hovcon20 {
    position: relative;
}
.person20 {
    position: absolute;
    width: 12.25%;
    left: 28%;
    top:0.5%;
    z-index: 1;
    transition: .5s ease;

}

.hovcon20:hover .person20{
    transform: translate(23%);

}

.ring20 {
    position: relative;
    width: 12%;
    left: 30%;
    z-index: 0;
    opacity: 1;
}

.hovcon20:hover .ring20{
    opacity: 0;

}


.instructorinfo20 {
    position: relative;
    width: 39%;
    left: 18.25%;
    transition: .5s ease;
    opacity: 0;
    z-index: 0;
}

.hovcon20:hover .instructorinfo20{
    opacity: 1;
}

.ofilter20 {
    position: absolute;
    width: 12.75%;
    left: 30.5%;
    top: -2%;
    opacity: 0%;
    z-index: 3;
}

.hovcon20:hover .ofilter20{
    opacity: 1;
}

.quote20{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffb03a;
    left: 44%;
    top: 10%;
    z-index: 6;
    opacity: 0%;
}



.hovcon20:hover .quote20{
    opacity: 1;
}


.fact20{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 0.9vw;
    color: black;
    left: 44%;
    top: 40%;
    z-index: 6;
    opacity: 0%;
}

.hovcon20:hover .fact20{
    opacity: 1;
}


/*committee*/

.committeecontainer{
    position: relative;
    display: flex; 
    justify-content: center;
    width: 100%;
    height: auto;
}


.foundersposition{
    position: absolute;
    text-align: center;
    display: block;
    justify-content: center;
    top: 15%;
}

.founderscolor1{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1.7vw;
    color: #ffffff;
}

.founderscolor2{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #fbb03a;
}

.comcaropost{
    position: relative;
    width:100%;
    top: 110%;
    left:0%
}

.carousel-inner {
    width: 100%;
    height: 60vh;
}

.comm {
    position: relative;
    width:30%;
    left: 35%;
}

.carousel-control-prev {
    position: absolute;
    top:-75%;
    left:5%;
}

.carousel-control-next{
    position: absolute;
    top:-75%;
    right:5%;
}

.arrowleftposition{
    position: relative;
    width: 6vw;
}

.arrowrightposition{
    position: relative;
    width: 6vw;
}

.carousel-caption {
    height: 6vh;
}

.comfont {
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffffff; 
}

.orange{
    color: #ffb03a;
}





/*cloud*/
.cloudcontainer{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #2c0657;
    text-align: center;
    display:flex;
    justify-content: center;
    overflow: hidden;
}

.cloudsize1{
    position: absolute;
    width: 15%;
    top: 33%;
    left: 41%;
}

.cloud{
    position: absolute;
    width: 30%;
    top: 32.5%;
    left: 33.5%;
}

.cloudtext{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 3.3vw;
    color: white;
    left: 34%;
    top: 33.5%;
    opacity: 60%;
}


.cloud[data-scroll] {
    transition: all 0.5s ease-in;
    transition-delay: 0.1s;
}
.cloud[data-scroll="in"] {
    opacity:1;
    transform: scale(2.5)
    
}
.cloud[data-scroll="out"] {
    opacity: 0;
}










/*   Footer   */
.home-video {
    position:relative;
    display:flex;
    justify-content: center;
    opacity: 100%;
}


video {
    width: 100%;
    height: auto;
}

.footer {
    position: relative;
}

.email-add {
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    color: #ffffff;
    text-align: center;
    bottom: 15%;
}

.email {
    width:2vw;
    height: auto;
}

.instagram {
    position: absolute;
    width:2%;
    left: 42.8%;
    bottom: 10%;
}

.facebook {
    position: absolute;
    width:1.1%;
    height: auto;
    bottom: 10%;
    left: 49.5%;

}

.youtube {
    position: absolute;
    width:2%;
    height: auto;
    right: 42.9%;
    bottom: 10.5%;
}



.copy-right{
    position: absolute;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size: 1vw;
    height: auto;
    color: #ffffff;
    left: 35.5%;
    bottom: 5%;
}



@media all and (max-width:1100px){

    /*section 1*/
    .comcontainer{
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .comtext1 {
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 5vw;
        color: white;
        top:50%;
        left: 22%;
    }
    
    /*instructor*/
    
    .instructorintroheading1{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 24%;
        top: 50%;
    }
    
    .instructorintroheading2{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 28%;
        top: 50%;
    }
    
    .instructorintroheading3{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 28%;
        top: 50%;
    }
    
    .instructorintroheading4{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 28%;
        top: 50%;
    }
    
    
    
    .instructorintro{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.8vw;
        color: white;
        left: 21%;
        top: 50%;
    
    }
    
    .hovcon {
        position: relative;
    }
    .person {
        position: absolute;
        width: 23%;
        left: 14.5%;
        z-index: 1;
        transition: .5s ease;
    }
    
    .hovcon:hover .person{
        transform: translate(23%);
    
    }
    
    .ring {
        position: relative;
        width: 22%;
        left: 19%;
        z-index: 0;
        opacity: 1;
    }
    
    .hovcon:hover .ring{
        opacity: 0;
    
    }
    
    
    .instructorinfo {
        position: relative;
        width:73%;
        left: -3%;
        transition: .5s ease;
        opacity: 0;
        z-index: 0;
    }
    
    .hovcon:hover .instructorinfo{
        opacity: 1;
    }
    
    .ofilter {
        position: absolute;
        width:24%;
        left: 19.5%;
        top: -2%;
        opacity: 0%;
        z-index: 3;
    }
    
    .hovcon:hover .ofilter{
        opacity: 1;
    }
    
    .quote{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1.2vw;
        color: #ffb03a;
        left: 43%;
        top: 10%;
        z-index: 6;
        opacity: 0%;
    }
    
    
    
    .hovcon:hover .quote{
        opacity: 1;
    }
    
    
    .fact{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.7vw;
        color: black;
        left: 45%;
        top: 33%;
        z-index: 6;
        opacity: 0%;
    }
    
    .hovcon:hover .fact{
        opacity: 1;
    }

    .fact2{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.7vw;
        color: black;
        left: 45%;
        top: 38%;
        z-index: 6;
        opacity: 0%;
    }
    
    .hovcon:hover .fact2{
        opacity: 1;
    }
    
    
    
    
    
    /*next*/
    
    .instructorintroheading20{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 35%;
        top: 50%;
    }
    
    
    
    .instructorintro20{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.8vw;
        color: white;
        left: 30%;
        top: 50%;
    
    }

    
    .hovcon20 {
        position: relative;
    }
    .person20 {
        position: absolute;
        width: 12.25%;
        left: 28%;
        top:0.5%;
        z-index: 1;
        transition: .5s ease;
    
    }
    
    .hovcon20:hover .person20{
        transform: translate(23%);
    
    }
    
    .ring20 {
        position: relative;
        width: 12%;
        left: 30%;
        z-index: 0;
        opacity: 1;
    }
    
    .hovcon20:hover .ring20{
        opacity: 0;
    
    }
    
    
    .instructorinfo20 {
        position: relative;
        width: 39%;
        left: 18.25%;
        transition: .5s ease;
        opacity: 0;
        z-index: 0;
    }
    
    .hovcon20:hover .instructorinfo20{
        opacity: 1;
    }
    
    .ofilter20 {
        position: absolute;
        width: 12.75%;
        left: 30.5%;
        top: -2%;
        opacity: 0%;
        z-index: 3;
    }
    
    .hovcon20:hover .ofilter20{
        opacity: 1;
    }
    
    .quote20{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 43%;
        top: 15%;
        z-index: 6;
        opacity: 0%;
    }
    
    
    
    .hovcon20:hover .quote20{
        opacity: 1;
    }
    
    
    .fact20{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.7vw;
        color: black;
        left: 44%;
        top: 48%;
        z-index: 6;
        opacity: 0%;
    }
    
    .hovcon20:hover .fact20{
        opacity: 1;
    }
    
    
    /*committee*/
    
    .committeecontainer{
        position: relative;
        display: flex; 
        justify-content: center;
        width: 100%;
        height:45vh;
    }
    
    
    .foundersposition{
        position: absolute;
        text-align: center;
        display: block;
        justify-content: center;
        top: 15%;
    }
    
    .founderscolor1{
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1.7vw;
        color: #ffffff;
    }
    
    .founderscolor2{
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #fbb03a;
    }
    
    .comcaropost{
        position: relative;
        width:100%;
        top: 110%;
        left:0%
    }
    
    .carousel-inner {
        width: 100%;
        height: 60vh;
    }
    
    .comm {
        position: relative;
        width:30%;
        left: 35%;
    }
    
    .carousel-control-prev {
        position: absolute;
        top:-75%;
        left:5%;
    }
    
    .carousel-control-next{
        position: absolute;
        top:-75%;
        right:5%;
    }
    
    .arrowleftposition{
        position: relative;
        width: 6vw;
    }
    
    .arrowrightposition{
        position: relative;
        width: 6vw;
    }
    
    .carousel-caption {
        height: 6vh;
    }
    
    .comfont {
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffffff; 
    }
    
    .orange{
        color: #ffb03a;
    }
    
    
    
    
    
    /*cloud*/
    .cloudcontainer{
        position: relative;
        width: 100%;
        height: 50vh;
        background-color: #2c0657;
        text-align: center;
        display:flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .cloudsize1{
        position: absolute;
        width: 15%;
        top: 33%;
        left: 43%;
    }
    
    .cloud{
        position: absolute;
        width: 38%;
        top: 32.5%;
        left: 30.5%;
    }
    
    .cloudtext{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 4.4vw;
        color: white;
        left: 30%;
        top: 33.5%;
        opacity: 60%;
    }
    
    
    .cloud[data-scroll] {
        transition: all 0.5s ease-in;
        transition-delay: 0.1s;
    }
    .cloud[data-scroll="in"] {
        opacity:1;
        transform: scale(2.5)
        
    }
    .cloud[data-scroll="out"] {
        opacity: 0;
    }
    
    

    
    /*   Footer   */
    .home-video {
        position:relative;
        display:flex;
        justify-content: center;
        opacity: 100%;
    }
    
    
    video {
        width: 100%;
        height: auto;
    }
    
    .footer {
        position: relative;
    }
    
    .email-add {
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 3vw;
        color: #ffffff;
        text-align: center;
        bottom: 20%;
    }
    
    .email {
        width:6vw;
        height: auto;
    }
    
    .instagram {
        position: absolute;
        width:5%;
        left: 28.5%;
        bottom: 10%;
    }
    
    .facebook {
        position: absolute;
        width:3%;
        height: auto;
        bottom: 10%;
        left: 48.5%;
    
    }
    
    .youtube {
        position: absolute;
        width:6%;
        height: auto;
        right: 29%;
        bottom: 12%;
    }
    
    
    
    .copy-right{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 2vw;
        height: auto;
        color: #ffffff;
        left: 22%;
        bottom: 5%;
    }
    
}




@media all and (max-width:500px){

    /*section 1*/
    .comcontainer{
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .comtext1 {
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 5vw;
        color: white;
        top:50%;
        left: 22%;
    }
    
    /*instructor*/
    
    .instructorintroheading1{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 24%;
        top: 50%;
    }
    
    .instructorintroheading2{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 28%;
        top: 50%;
    }
    
    .instructorintroheading3{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 28%;
        top: 50%;
    }
    
    .instructorintroheading4{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 28%;
        top: 50%;
    }
    
    
    
    
    .instructorintro{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.8vw;
        color: white;
        left: 21%;
        top: 50%;
    
    }
    
    .hovcon {
        position: relative;
    }
    .person {
        position: absolute;
        width: 23%;
        left: 14.5%;
        z-index: 1;
        transition: .5s ease;
    }
    
    .hovcon:hover .person{
        transform: translate(23%);
    
    }
    
    .ring {
        position: relative;
        width: 22%;
        left: 19%;
        z-index: 0;
        opacity: 1;
    }
    
    .hovcon:hover .ring{
        opacity: 0;
    
    }
    
    
    .instructorinfo {
        position: relative;
        width:73%;
        left: -3%;
        transition: .5s ease;
        opacity: 0;
        z-index: 0;
    }
    
    .hovcon:hover .instructorinfo{
        opacity: 1;
    }
    
    .ofilter {
        position: absolute;
        width:24%;
        left: 19.5%;
        top: -2%;
        opacity: 0%;
        z-index: 3;
    }
    
    .hovcon:hover .ofilter{
        opacity: 1;
    }
    
    .quote{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 46%;
        top: 18%;
        z-index: 6;
        opacity: 0%;
    }
    
    
    
    .hovcon:hover .quote{
        opacity: 1;
    }
    
    
    .fact{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.8vw;
        color: black;
        left: 46.5%;
        top: 35%;
        z-index: 6;
        opacity: 0%;
    }
    
    .hovcon:hover .fact{
        opacity: 1;
    }


    .fact2{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.8vw;
        color: black;
        left: 46.5%;
        top: 50%;
        z-index: 6;
        opacity: 0%;
    }
    
    .hovcon:hover .fact2{
        opacity: 1;
    }
    
    
    
    
    
    /*next*/
    
    .instructorintroheading20{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 35%;
        top: 50%;
    }
    
    
    
    .instructorintro20{
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.8vw;
        color: white;
        left: 30%;
        top: 50%;
    
    }
    
    
    
    .hovcon20 {
        position: relative;
    }
    .person20 {
        position: absolute;
        width: 12.25%;
        left: 28%;
        top:0.5%;
        z-index: 1;
        transition: .5s ease;
    
    }
    
    .hovcon20:hover .person20{
        transform: translate(23%);
    
    }
    
    .ring20 {
        position: relative;
        width: 12%;
        left: 30%;
        z-index: 0;
        opacity: 1;
    }
    
    .hovcon20:hover .ring20{
        opacity: 0;
    
    }
    
    
    .instructorinfo20 {
        position: relative;
        width: 39%;
        left: 18.25%;
        transition: .5s ease;
        opacity: 0;
        z-index: 0;
    }
    
    .hovcon20:hover .instructorinfo20{
        opacity: 1;
    }
    
    .ofilter20 {
        position: absolute;
        width: 12.75%;
        left: 30.5%;
        top: -2%;
        opacity: 0%;
        z-index: 3;
    }
    
    .hovcon20:hover .ofilter20{
        opacity: 1;
    }
    
    .quote20{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffb03a;
        left: 45%;
        top: 15%;
        z-index: 6;
        opacity: 0%;
    }
    
    
    
    .hovcon20:hover .quote20{
        opacity: 1;
    }
    
    
    .fact20{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 0.9vw;
        color: black;
        left: 45%;
        top: 40%;
        z-index: 6;
        opacity: 0%;
    }
    
    .hovcon20:hover .fact20{
        opacity: 1;
    }
    
    
    /*committee*/
    
    .committeecontainer{
        position: relative;
        display: flex; 
        justify-content: center;
        width: 100%;
        height:45vh;
    }
    
    
    .foundersposition{
        position: absolute;
        text-align: center;
        display: block;
        justify-content: center;
        top: 0%;
    }
    
    .founderscolor1{
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 2vw;
        color: #ffffff;
    }
    
    .founderscolor2{
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1.5vw;
        color: #fbb03a;
    }
    
    .comcaropost{
        position: relative;
        width:100%;
        top: 110%;
        left:0%
    }
    
    .carousel-inner {
        width: 100%;
        height: 60vh;
    }
    
    .comm {
        position: relative;
        width:30%;
        left: 35%;
    }
    
    .carousel-control-prev {
        position: absolute;
        top:-75%;
        left:5%;
    }
    
    .carousel-control-next{
        position: absolute;
        top:-75%;
        right:5%;
    }
    
    .arrowleftposition{
        position: relative;
        width: 6vw;
    }
    
    .arrowrightposition{
        position: relative;
        width: 6vw;
    }
    
    .carousel-caption {
        height: 6vh;
    }
    
    .comfont {
        position: relative;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 1vw;
        color: #ffffff; 
    }
    
    .orange{
        color: #ffb03a;
    }
    
    
    
    
    
    /*cloud*/
    .cloudcontainer{
        position: relative;
        width: 100%;
        height: 50vh;
        background-color: #2c0657;
        text-align: center;
        display:flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .cloudsize1{
        position: absolute;
        width: 15%;
        top: 33%;
        left: 43%;
    }
    
    .cloud{
        position: absolute;
        width: 38%;
        top: 32.5%;
        left: 30.5%;
    }
    
    .cloudtext{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 4.4vw;
        color: white;
        left: 30%;
        top: 33.5%;
        opacity: 60%;
    }
    
    
    .cloud[data-scroll] {
        transition: all 0.5s ease-in;
        transition-delay: 0.1s;
    }
    .cloud[data-scroll="in"] {
        opacity:1;
        transform: scale(2.5)
        
    }
    .cloud[data-scroll="out"] {
        opacity: 0;
    }
    
    

    
    /*   Footer   */
    .home-video {
        position:relative;
        display:flex;
        justify-content: center;
        opacity: 100%;
    }
    
    
    video {
        width: 100%;
        height: auto;
    }
    
    .footer {
        position: relative;
    }
    
    .email-add {
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 3vw;
        color: #ffffff;
        text-align: center;
        bottom: 20%;
    }
    
    .email {
        width:6vw;
        height: auto;
    }
    
    .instagram {
        position: absolute;
        width:5%;
        left: 28.5%;
        bottom: 10%;
    }
    
    .facebook {
        position: absolute;
        width:3%;
        height: auto;
        bottom: 10%;
        left: 48.5%;
    
    }
    
    .youtube {
        position: absolute;
        width:6%;
        height: auto;
        right: 29%;
        bottom: 12%;
    }
    
    
    
    .copy-right{
        position: absolute;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        font-size: 2vw;
        height: auto;
        color: #ffffff;
        left: 22%;
        bottom: 5%;
    }
    
}